body {
    text-align: center;
    background-color: #011f3f;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .red {
    background-color: red;
  }

  .green {
       background-color: rgb(4, 161, 4);
  }

  .blue {
    background-color: blue;
  }

  .yellow {
    background-color: yellow;
  }