body {
    text-align: center;
    background-color: #011f3f;
}

#level-title, h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.container1 {
  margin-top: 20%;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }

  .red {
    background-color: red;
  }

  .green {
       background-color: rgb(4, 161, 4);
  }

  .blue {
    background-color: blue;
  }

  .yellow {
    background-color: yellow;
  }

  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  #how-to-heading {
    font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  }

  .info {
    text-align: left;
    font-size: 3rem;
    color: #FEF2BF;
    font-family:'Courier New', Courier, monospace;
  }

  h2 {
    font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  text-align: center;
  }

button {
    width: 20%;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #EB1D36;
    color: #A2B5BB;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.container1 button:hover {
  transform: scale(0.96);
  color: #EB1D36 ;
  background: #A2B5BB;
  border: 1px solid #554994;
}

.container1 a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-family:'Courier New', Courier, monospace;
}